
body{
    /* font-family: Georgia, serif; */
}

#siteheader{
    background-color: rgb(148, 99, 25);
}

#sitefooter{
    background-color: lightgrey;
    margin:10px 0 0 0;
}

#pagecontent{
    padding: 10px 0 0 0;
    min-height: 600px;
}

.message{
    font-weight: bold;
    text-align: center;
}

.error{
    color:red;
}